/* You can add global styles to this file, and also import other style files */
.title{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btt{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.btt-new{
    display: flex;
    justify-content: end;
    
}